<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>New comment available for review</title>
</head>
<body>
  <h1>Hello there</h1>
  <p>A new comment is available for review. Here are the details:</p>
  <ul>
    <li>Truc</li>
  </ul>
</body>
</html>
