<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>New comment available for review</title>
</head>
<body>
<p>
  Hello, it seems that you asked for you password to be reset. I am not proud of you.
</p>
<p>
  Use the following link to do so:
</p>

<a href="{{ 'http://localhost:8080/reset/' + reset_token }}">Reset your password</a>

<p>KThxBye</p>

<p>Overlord</p>

</body>
</html>
